@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: initial;
}
[class*="icon"] {
    aspect-ratio: 1/1;
    width: auto;
}

/* HEADER */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
header > * {
    width: 50%;
    padding: 0 6vw;
}
header :nth-child(2) {
    color: var(--primary-color);
    font-weight: 800;
    text-align: end;
}
header :nth-child(n+3) {
    text-align: center;
    border-bottom: 3px solid white;
    padding: 8px 6vw;
}
header :nth-child(n+3):hover {
    border-color: var(--primary-color);
}