@media screen and (min-width: 550px) {
    html {
        --numb-card-p: 2;
        --numb-card-h: 2;
        --numb-card-a: 2;
    }
    .info {
        align-items: center;
    }
    .gallery-p {
        grid-template-columns: repeat(var(--numb-card-p), 1fr);
    }
    .gallery-h {
        grid-template-columns: repeat(var(--numb-card-h), 1fr);
    }
    .gallery-a {
        grid-template-columns: repeat(var(--numb-card-a), 1fr); 
    }
    .gallery-p .card-link:nth-child(3) {
        grid-column: 1/3;
        width: 50%;
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    html {
        --numb-card-p: 2;
        --numb-card-h: 3;
        --numb-card-a: 3;
    }
    header {
        padding: 0;
    }
    header > * {
        line-height: 6;
        width: auto;
    }
    header :nth-child(2) {
        order: 4;
    }
    header :nth-child(1) {
        padding-top: 16px;
        margin-right: auto;
    }
    header :nth-child(n+3) {
        text-align: center;
        border-top: 3px solid white;
        padding: 12px 6vw;
        border-bottom: none;
    }
    header :nth-child(n+3):hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    [name*='text-search'] {
        flex: none;
    }
    .btn-search {
        border-radius: 0 16px 16px 0;
        aspect-ratio: auto;
    }
    .btn-search-text {
        display: inline;
    }
    .btn-search-icon {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    html {
        --numb-card-h: 3;
        --numb-card-p: 1;
        --numb-card-a: 4;
    }
    .layout {
        display: grid;
        grid-template-columns: auto 2fr 1fr auto;
        grid-template-areas: 
                        ". header header ."
                        ". main main ."
                        ". hebergements populaires ."
                        ". activites activites ."
                        "footer footer footer footer";
        gap: 36px;
    }
    header > * {
        padding: 0;
    }
    #hebergements, #populaires {
        background-color: var(--tertiary-color);
        border-radius: 24px;
        padding: 2vw 2vw;
    }
    .gallery-p .card-link:nth-child(3) {
        grid-column: 1;
        width: auto;
        justify-self: auto;
    }
    .gallery-h {
        row-gap: 36px;
    }
    .gallery-h .card-img {
        aspect-ratio: 4/2;
    }
    .bar-filters {
        align-items: center;
    }
    .bar-filters > :nth-child(1) {
        width: auto;
    }
    #activites, #main {
        padding: 0;
    }
    .gallery-a {
        grid-row-gap: 32px;
        grid-column-gap: 42px;
        grid-auto-flow: column;
    }
    .gallery-a .card-img {
        aspect-ratio: 7/4;
        flex: auto;
    }
    .gallery-a .card-link:nth-child(1) {
        grid-row: 1 / span 2;
    }
    .gallery-a .card-link:nth-child(4) {
        grid-row: 1 / span 2;
    }
    footer {
        padding: 48px;
        flex-direction: row;
    }
    footer > div {
        flex: 1;
    }
}
