:root {
    /*--Color--*/
    --primary-color: #0065fc;
    --secondary-color: #deebff;
    --tertiary-color: #f2f2f2;
    /*--Spacing--*/
    --layout-spacing: 32px;
    --section-spacing: 24px;
    --internal-spacing: 8px;
    /*--Icon--*/
    --search-icon: 48px;
    --filters-icon: 18px;
}