:root {
    /*--Color--*/
    --primary-color: #0065fc;
    --secondary-color: #deebff;
    --tertiary-color: #f2f2f2;
    /*--Spacing--*/
    --layout-spacing: 32px;
    --section-spacing: 24px;
    --gallery-spacing: 12px;
    --internal-spacing: 8px;
    /*--Icon--*/
    --search-icon: 48px;
    --filters-icon: 18px;
    /*--Gallery--*/
    --numb-card-p: 1;
    --width-card-p: 320px;
    --height-card-p: 140px;
}